
/*
     FILE ARCHIVED ON 09:49:05 Jul 19, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:02:35 Jul 01, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 74.087
  exclusion.robots: 0.122
  exclusion.robots.policy: 0.112
  cdx.remote: 0.082
  esindex: 0.01
  LoadShardBlock: 38.977 (3)
  PetaboxLoader3.datanode: 73.434 (4)
  CDXLines.iter: 18.821 (3)
  load_resource: 92.31
  PetaboxLoader3.resolve: 54.504
*/