 @font-face {
    font-family: 'Didot';
    src: url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/didot.eot');
    src: url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/didot.eot#iefix') format('embedded-opentype'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/didot.woff') format('woff'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/didot.ttf') format('truetype'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/didot.Didot') format('svg');
    font-weight: normal;
    font-style: normal;
}

 @font-face {
    font-family: 'BebasNeue';
    src: url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/bebasneue.eot');
    src: url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/bebasneue.eot#iefix') format('embedded-opentype'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/bebasneue.woff') format('woff'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/bebasneue.ttf') format('truetype'),
         url('/web/20151029025428im_/http://www.nightclub.com/files/ncb/newhomepage_fonts/bebasneue.BebasNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
     FILE ARCHIVED ON 02:54:28 Oct 29, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:04:17 Jul 01, 2022.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 133.518
  exclusion.robots: 0.105
  exclusion.robots.policy: 0.097
  cdx.remote: 0.078
  esindex: 0.011
  LoadShardBlock: 96.644 (3)
  PetaboxLoader3.datanode: 196.44 (5)
  CDXLines.iter: 24.494 (3)
  load_resource: 374.669 (2)
  PetaboxLoader3.resolve: 265.008 (2)
*/